/// Mixin to prefix a property
/// @author Danylo Santoro
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    // Output standard non-prefixed declaration
    #{$property}: $value;
}

$font: 'Opens Sans', sans-serif;
$primary: #FD614A;
$secondary: #ff4e50;

@function get-vw($target) { 
    $vw-context: (1920*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

html, body {
    font-family: $font;
    height: 100%;
}

figure {
    img {
        object-fit: cover;
    }
}

.image {
    display: block;
    position: relative;
}

.image img,
.image iframe {
    display: block;
    height: auto;
    width: 100%;
}

.image.is-square iframe,
.image.is-1by1 iframe,
.image.is-4by3 iframe,
.image.is-3by2 iframe,
.image.is-16by9 iframe,
.image.is-2by1 iframe
.image.is-square img,
.image.is-1by1 img,
.image.is-4by3 img,
.image.is-3by2 img,
.image.is-16by9 img,
.image.is-2by1 img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.image.is-square, .image.is-1by1 {
    padding-top: 100%;
}

.image.is-4by3 {
    padding-top: 75%;
}

.image.is-3by2 {
    padding-top: 66.6666%;
}

.image.is-16by9 {
    padding-top: 56.25%;
}

.image.is-2by1 {
    padding-top: 50%;
}

.content {
    @include prefix(flex, 1 0 auto, ms moz webkit);
}

.align-center {
    @include prefix(align-items, center, ms moz webkit);
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.row {
    max-width: 1200px;
}

.site-title {
    font-size: 0;
    margin: 0;
}

.btn-default {
    @include prefix(transition, all .3s ease-in-out, ms moz webkit);
    background-color: $secondary;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 25px;
    line-height: 44px;
    font-weight: 700;
    padding: 0 45px;
    font-size: 14px;
    color: white;

    &:hover {
        background-color: $primary;
        color: white;
    }
}

body.menu-opened {
    .offset-menu {
        @include prefix(transform, translateX(0), ms moz webkit);
    }
}

.home {
    .site-header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
    }
}

.site-header {
    @include prefix(transition, all .3s ease-in-out, ms moz webkit);
    padding: 15px 0;
    position: relative;

    &.scrolled {
        padding: 3px 0;
        background-color: $primary;
    }
    
    > .row {
        @extend .flex;
        @include prefix(align-items, center, ms moz webkit);
    }

    .logo {
        display: block;

        img {
            max-height: 60px;
        }
    }

    .site-navigation {
        ul {
            list-style: none;
            @extend .flex;
            float: right;
            margin: 0;

            > li {
                text-transform: uppercase;

                &:not(:last-child) {
                    margin-right: 36px;
                }

                > a {
                    line-height: 20px;
                    font-weight: 700;
                    font-size: 14px;
                    color: white;
                }
            }
        }
    }

    .mobile-menu {
        @include prefix(transform, translateY(-50%), ms moz webkit);
        position: absolute;
        color: white;
        line-height: 1;
        padding: 10px;
        right: 15px;
        top: 50%;
    }
}

.banner {
    @include prefix(align-items, center, ms moz webkit);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    @extend .flex;

    h2, h3 {
        margin: 0 0 20px 0;
        font-family: $font;
        line-height: 1.4;
        font-weight: 700;
        font-size: 56px;
        color: white;

        @media(max-width: 768px) {
            font-size: 36px;
            text-align: center;
            line-height: 1.3;
        }
    }

    h3 {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.6;

        @media(max-width: 768px) {
            font-size: 16px;
        }
    }

    @media(max-width: 768px) {
        .center-mobile {
            text-align: center;

            .btn-default {
                display: inline-block;
            }
        }
    }
}

.perks {
    padding: 110px 0;

    @media(max-width: 768px) {
        padding: 60px 0;
    }

    .column {
        @media(min-width: 1024px) {
            margin-bottom: 0;
        }
    }

    .perks__item {
        text-align: center;

        i {
            margin-bottom: 20px;
            font-size: 70px;
            color: $primary;
            display: block;
        }

        h4 {
            font-family: $font;
            color: #242120;
            font-weight: 700;
            font-size: 18px;
        }

        p {
            font-size: 15px;
            color: #716f6e;
            margin-bottom: 0;
        }
    }
}

.celebrate {
    padding: 15vw 0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url('../images/celebrate.jpg');
    text-align: center;

    h2 {
        font-family: $font;
        font-weight: bold;
        color: #ffffff;
        font-size: 52px;
    }

    p {
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
    }
}

.our-services {
    padding: 110px 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.45) 45%, rgba(253,97,74,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.45) 45%,rgba(253,97,74,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.45) 45%,rgba(253,97,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fd614a',GradientType=0 );



    @media(max-width: 768px) {
        padding: 60px 0;
    }
    
    h4 {
        text-align: center;
        font-family: $font;
        font-weight: 700;
        color: #242120;
        font-size: 48px;
        margin-bottom: 40px;
    }

    .grid-template {
        columns: 3 200px;
        column-gap: 1rem;

        a {
            margin: 0 1rem 1rem 0;
            display: inline-block;
            width: 100%;
            padding: 15px;
            border-radius: 4px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            position: relative;
            background-color: white;
            @include prefix(transition, transform .3s, ms moz webkit);
            z-index: 1;

            &:hover {
                @include prefix(transform, scale(1.05), ms moz webkit);
                z-index: 10;
            }

            img {
                margin-bottom: 15px;
            }

            &:after {
                content: attr(title);
                color: $primary;
                font-size: 14px;
            }
        }
    }
}

.cta {
    background-image: url('../images/header-default.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;

    &__container {
        @extend .flex;
        @include prefix(align-items, center, ms moz webkit);
        @include prefix(justify-content, space-between, ms moz webkit);
        @media(max-width: 768px) {
            @include prefix(flex-direction, column, ms moz webkit);
        }

        hgroup {
            @media(max-width: 768px) {
                margin-bottom: 20px;
            }

            h3 {
                font-family: $font;
                font-weight: 700;
                font-size: 38px;
                color: white;
                margin-bottom: 12px;
            }

            h4 {
                text-transform: uppercase;
                font-size: 16px;
                font-family: $font;
                margin-bottom: 0;
                color: white;
            }
        }
    }
}

.contact {
    background-color: #F5F0F1;
    padding: 8vw 0;

    h6 {
        font-family: $font;
        font-weight: bold;
        color: #242120;
        font-size: 52px;
    }

    p {
        text-align: center;
    }

    form {
        padding: 20px 0;
        text-align: center;
        
        .inputs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;

            @media(max-width: 768px) {
                grid-template-columns: 1fr;
                grid-gap: 0;
            }

            input {
                border: 1px solid rgb(227, 223, 222);
                border-radius: 8px;
                padding: 0 15px;
                margin-top: 5px;
                height: 42px;
                width: 100%;
            }
        }

        label {
            text-transform: uppercase;
            margin-bottom: 15px;
            font-weight: bold;
            color: #242120;
            font-size: 12px;
            display: block;
            text-align: left;

            textarea {
                border: 1px solid rgb(227, 223, 222);
                border-radius: 8px;
                margin-top: 5px;
                padding: 15px;
                height: 150px;
                width: 100%;
                resize: none;
            }
        }

        input[type="submit"] {
            @extend .btn-default;
            display: inline-block;
            cursor: pointer;
        }
    }
}

.wpcf7-validation-errors,
.wpcf7-mail-sent-ng,
.wpcf7-mail-sent-ok {    
    position: fixed;
    padding: 20px !important;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .6);
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%, -50%), ms moz webkit);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    color: black;
    margin: 0 !important;
    z-index: 2000;
}

.site-footer {
    background-color: #1f1f1f;
    padding: 4vw 0;
    @media (min-width: 769px) {
        .row {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
        }
    }

    .logo {
        max-width: 80px;
        display: block;
    }
}

.socials {
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    @extend .flex;
    margin: 0;

    > li {
        margin-right: 15px;
        font-size: 14px;
        color: white;

        a {
            transition: all .2s;
            border-radius: 4px;
            color: white;
            font-size: 28px;

            &:hover {
                color: $primary;
            }
        }
    }
}

.offset-menu {
    background-color: $secondary;
    padding: 10vw;
    position: fixed;
    max-width: 80vw;
    z-index: 1000;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    @include prefix(transform, translatex(-100%), ms moz webkit);
    @include prefix(transition, transform .2s, ms moz webkit);

    .mobile-menu-close {
        position: absolute;
        color: white;
        line-height: 1;
        padding: 10px;
        right: 10px;
        top: 10px;
    }
    
    ul {
        list-style: none;
        margin: 20px 0 0 0;

        > li {
            font-family: $font;

            &:not(:last-child) {
                border-bottom: 1px solid white;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            a {
                color: white;
            }
        }
    }
}