html, body {
  font-family: "Opens Sans", sans-serif;
  height: 100%;
}

figure img {
  object-fit: cover;
}

.image {
  display: block;
  position: relative;
}

.image img,
.image iframe {
  display: block;
  height: auto;
  width: 100%;
}

.image.is-square iframe,
.image.is-1by1 iframe,
.image.is-4by3 iframe,
.image.is-3by2 iframe,
.image.is-16by9 iframe,
.image.is-2by1 iframe .image.is-square img,
.image.is-1by1 img,
.image.is-4by3 img,
.image.is-3by2 img,
.image.is-16by9 img,
.image.is-2by1 img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.image.is-square, .image.is-1by1 {
  padding-top: 100%;
}

.image.is-4by3 {
  padding-top: 75%;
}

.image.is-3by2 {
  padding-top: 66.6666%;
}

.image.is-16by9 {
  padding-top: 56.25%;
}

.image.is-2by1 {
  padding-top: 50%;
}

.content {
  -ms-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

.align-center {
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex, .site-header > .row, .site-header .site-navigation ul, .banner, .cta__container, .socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.row {
  max-width: 1200px;
}

.site-title {
  font-size: 0;
  margin: 0;
}

.btn-default, .contact form input[type="submit"] {
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ff4e50;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 25px;
  line-height: 44px;
  font-weight: 700;
  padding: 0 45px;
  font-size: 14px;
  color: white;
}

.btn-default:hover, .contact form input[type="submit"]:hover {
  background-color: #FD614A;
  color: white;
}

body.menu-opened .offset-menu {
  -ms-transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.home .site-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.site-header {
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 15px 0;
  position: relative;
}

.site-header.scrolled {
  padding: 3px 0;
  background-color: #FD614A;
}

.site-header > .row {
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.site-header .logo {
  display: block;
}

.site-header .logo img {
  max-height: 60px;
}

.site-header .site-navigation ul {
  list-style: none;
  float: right;
  margin: 0;
}

.site-header .site-navigation ul > li {
  text-transform: uppercase;
}

.site-header .site-navigation ul > li:not(:last-child) {
  margin-right: 36px;
}

.site-header .site-navigation ul > li > a {
  line-height: 20px;
  font-weight: 700;
  font-size: 14px;
  color: white;
}

.site-header .mobile-menu {
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  color: white;
  line-height: 1;
  padding: 10px;
  right: 15px;
  top: 50%;
}

.banner {
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner h2, .banner h3 {
  margin: 0 0 20px 0;
  font-family: "Opens Sans", sans-serif;
  line-height: 1.4;
  font-weight: 700;
  font-size: 56px;
  color: white;
}

@media (max-width: 768px) {
  .banner h2, .banner h3 {
    font-size: 36px;
    text-align: center;
    line-height: 1.3;
  }
}

.banner h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .banner h3 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .banner .center-mobile {
    text-align: center;
  }
  .banner .center-mobile .btn-default, .banner .center-mobile .contact form input[type="submit"], .contact form .banner .center-mobile input[type="submit"] {
    display: inline-block;
  }
}

.perks {
  padding: 110px 0;
}

@media (max-width: 768px) {
  .perks {
    padding: 60px 0;
  }
}

@media (min-width: 1024px) {
  .perks .column {
    margin-bottom: 0;
  }
}

.perks .perks__item {
  text-align: center;
}

.perks .perks__item i {
  margin-bottom: 20px;
  font-size: 70px;
  color: #FD614A;
  display: block;
}

.perks .perks__item h4 {
  font-family: "Opens Sans", sans-serif;
  color: #242120;
  font-weight: 700;
  font-size: 18px;
}

.perks .perks__item p {
  font-size: 15px;
  color: #716f6e;
  margin-bottom: 0;
}

.celebrate {
  padding: 15vw 0;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("../images/celebrate.jpg");
  text-align: center;
}

.celebrate h2 {
  font-family: "Opens Sans", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 52px;
}

.celebrate p {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}

.our-services {
  padding: 110px 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.45) 45%, #fd614a 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.45) 45%, #fd614a 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.45) 45%, #fd614a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fd614a',GradientType=0 );
}

@media (max-width: 768px) {
  .our-services {
    padding: 60px 0;
  }
}

.our-services h4 {
  text-align: center;
  font-family: "Opens Sans", sans-serif;
  font-weight: 700;
  color: #242120;
  font-size: 48px;
  margin-bottom: 40px;
}

.our-services .grid-template {
  columns: 3 200px;
  column-gap: 1rem;
}

.our-services .grid-template a {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  background-color: white;
  -ms-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
  z-index: 1;
}

.our-services .grid-template a:hover {
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 10;
}

.our-services .grid-template a img {
  margin-bottom: 15px;
}

.our-services .grid-template a:after {
  content: attr(title);
  color: #FD614A;
  font-size: 14px;
}

.cta {
  background-image: url("../images/header-default.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}

.cta__container {
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cta__container {
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .cta__container hgroup {
    margin-bottom: 20px;
  }
}

.cta__container hgroup h3 {
  font-family: "Opens Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: white;
  margin-bottom: 12px;
}

.cta__container hgroup h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Opens Sans", sans-serif;
  margin-bottom: 0;
  color: white;
}

.contact {
  background-color: #F5F0F1;
  padding: 8vw 0;
}

.contact h6 {
  font-family: "Opens Sans", sans-serif;
  font-weight: bold;
  color: #242120;
  font-size: 52px;
}

.contact p {
  text-align: center;
}

.contact form {
  padding: 20px 0;
  text-align: center;
}

.contact form .inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

@media (max-width: 768px) {
  .contact form .inputs {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.contact form .inputs input {
  border: 1px solid #e3dfde;
  border-radius: 8px;
  padding: 0 15px;
  margin-top: 5px;
  height: 42px;
  width: 100%;
}

.contact form label {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
  color: #242120;
  font-size: 12px;
  display: block;
  text-align: left;
}

.contact form label textarea {
  border: 1px solid #e3dfde;
  border-radius: 8px;
  margin-top: 5px;
  padding: 15px;
  height: 150px;
  width: 100%;
  resize: none;
}

.contact form input[type="submit"] {
  display: inline-block;
  cursor: pointer;
}

.wpcf7-validation-errors,
.wpcf7-mail-sent-ng,
.wpcf7-mail-sent-ok {
  position: fixed;
  padding: 20px !important;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
  margin: 0 !important;
  z-index: 2000;
}

.site-footer {
  background-color: #1f1f1f;
  padding: 4vw 0;
}

@media (min-width: 769px) {
  .site-footer .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
}

.site-footer .logo {
  max-width: 80px;
  display: block;
}

.socials {
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
}

.socials > li {
  margin-right: 15px;
  font-size: 14px;
  color: white;
}

.socials > li a {
  transition: all .2s;
  border-radius: 4px;
  color: white;
  font-size: 28px;
}

.socials > li a:hover {
  color: #FD614A;
}

.offset-menu {
  background-color: #ff4e50;
  padding: 10vw;
  position: fixed;
  max-width: 80vw;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  -ms-transform: translatex(-100%);
  -moz-transform: translatex(-100%);
  -webkit-transform: translatex(-100%);
  transform: translatex(-100%);
  -ms-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  transition: transform 0.2s;
}

.offset-menu .mobile-menu-close {
  position: absolute;
  color: white;
  line-height: 1;
  padding: 10px;
  right: 10px;
  top: 10px;
}

.offset-menu ul {
  list-style: none;
  margin: 20px 0 0 0;
}

.offset-menu ul > li {
  font-family: "Opens Sans", sans-serif;
}

.offset-menu ul > li:not(:last-child) {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.offset-menu ul > li a {
  color: white;
}
